---
import Layout from "../../layouts/Layout.astro";

import { addrecette } from '../../../pocketbase/backend.mjs';
//import Button from "../../components/Button.astro";  ajouter bouton orange la 


let message = "";
if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    const response = await addrecette(formData);
    message = response.message;
}

//Création des formulaires pour saisir et modifier des données = invités
---

<Layout>
<h1 class="text-center">PARTAGEZ-NOUS  VOS RECETTES !</h1>
{message && <p class="text-red-600">{}</p>}
<form action="/recette/add" method="POST" enctype="multipart/form-data">


    <label for="hero_recette" class="block mt-4 font-semibold text-black uppercase">Image du plat</label>

    <input type="file" name="hero_recette"   class=" text-center w-105 mt-2 p-2 border border-gray-300 rounded-md"/>

    <label for="pays_recette" class="block mt-4 font-semibold text-black uppercase">Pays</label>
    <input
        type="text"
        name="pays_recette"
        placeholder="Ex: Colombie"
        required
        class="w-105 mt-2 p-2 border border-gray-300 rounded-md"
    />

    <label for="continent_recette" class="block mt-4 font-semibold text-black uppercase">Continent</label>

    <input
    type="text"
    name="continent_recette"
    placeholder="Selectionnez un continent"
    required
    class="w-105 mt-2 p-2 border border-gray-300 rounded-md"
/>

<label for="personnes_recette" class="block mt-4 font-semibold text-black uppercase">COMBIEN de PERSONNES</label>

  <input
  type="text"
  name="personnes_recette"
  placeholder ="Ex: 4 "
  required
  class="w-105 mt-2 p-2 border border-gray-300 rounded-md"
  />


  <label for="temps_recette" class="block mt-4 font-semibold text-black uppercase">tEMPS DE PRÉPARATION</label>

  <input 
  type="text"
  name="temps_recette"
  placeholder="Ex: 30"
  class="w-105 mt-2 p-2 border border-gray-300 rounded-md"
  />


  <label for="ingrédients_recette" class="block mt-4 font-semibold text-black uppercase">ingrédients</label>

  <input 
  type="text"
  name="ingrédients_recette"
  placeholder="Décrivez les ingrédients nécessaires à la préparation de la recette"
    class="w-105 mt-2 p-2 border border-gray-300 rounded-md"

    />

    <label for="images_recette" class="block mt-4 font-semibold text-black uppercase">Images (optionnelleS)</label>

 
  <input type="file" name="images_recette"   class="w-105 mt-2 p-2 border border-gray-300 rounded-md" />


  <label for="préparation_recette" class="block mt-4 font-semibold text-black uppercase">PRÉPARATION</label>

  <input 
  type="text"
  name="préparation_recette"
  placeholder="Décrivez les pas de préparation..."
    class="w-105 mt-2 p-2 border border-gray-300 rounded-md"
  />

  <label for="images_recette" class="block mt-4 font-semibold text-black uppercase">Images (optionnelles)</label>

 
  <input type="file" name="images_recette"   class="w-105 mt-2 p-2 border border-gray-300 rounded-md" />


<p class="text-center">  En cochant cette case, vous acceptez les conditions générales de Ñummy 
    pour la publication d'un article sur le site web. Pour en savoir plus sur 
    notre politique de confidentialité, cliquez ici.</p>

 
    <button class="" type="submit">PUBLIER</button>
</form> 

</Layout>