@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-header: "Ranchers", "sans-serif";
    --font-text: "Roboto", "sans-serif";

    /* couleur principale */
    --color-green: oklch(47.77% 0.0342 201.44);
    /*#466365*/
    --color-orange: oklch(80.47% 0.1606 70.99);
    /*#ffab2e*/
    --color-lin: oklch(95.89% 0.0226 78.22);
    /*#faf0e1*/
    --color-argent: oklch(98.51% 0 0);
    /*#fafafa*/
    --color-blanc: oklch(100% 0 0);
    /*#ffffff*/
    --color-noir: oklch(0% 0 0);
    /*#000000*/

    /* couleur secondaire */
    --color-rouge: oklch(46.95% 0.1619 27.1);
    /*#a22522*/
    --color-bleu-fonce: oklch(22.23% 0.1391 269.3);
    /*#09045a*/
    --color-bleu: oklch(53.57% 0.133 250.72);
    /*#2470b7*/
    --color-vert: oklch(61.21% 0.1495 154.96);
    /*#099d5a*/
    --color-marron: oklch(63.26% 0.1313 55.79);
    /*#c5722f*/
  


    --my-grid: repeat(11, minmax(0, 64px));

}

@layer base {

    *{
        @apply box-border;
    }
    h1 {
        @apply font-header text-4xl font-normal;
    }
    h2 {
        @apply font-text text-2xl font-bold;
    }
    h3 {
        @apply font-text text-[24px] font-bold;
    }
    p {
        @apply font-text ;
    }
    button {
        @apply font-text font-normal text-sm tracking-wider;
    }
    ul,li {
        @apply font-text;
    }
    a {
        @apply font-text;
    }
}

@layer components {
    .grille {
        @apply px-6 lg:grid lg:grid-cols-(--my-grid) lg:justify-center lg:gap-12;
    }
    .h2-header {
        @apply font-header font-normal text-4xl tracking-wider;
    }
    .h3-header {
        @apply font-header font-normal text-2xl;
    }
    .p-body1{
        @apply font-medium text-[20px]; 
    }
    .p-body2{
        @apply font-normal text-base;
    }
    .p-body3{
        @apply font-normal text-xs;  
    }
    .button{
        @apply font-black text-[14px] tracking-wide;
    }
    .p-small{
        @apply font-normal text-[10px] tracking-wide;
    }



    .nonscroll{
        @apply overflow-hidden;
    }
    .colorPage #menu-btn span {
        @apply !bg-black;
    }
}