---
import Layout from "../layouts/Layout.astro";
import logo_nummy10 from "../assets/logo/logo_nummy10.png";

import { Image } from "astro:assets";
---

<Layout>
    <div class="bg-[var(--color-argent)]">
    <h1 class="p-8">Mentions Légales</h1>
    <div class="px-8">
        <p class="mt-2">
            <strong>
                1.Informations des éditeurs et des responsables de la
                publication</strong
            >
        </p>
        <ul class="">
            <li>
                Noms ou dénominations : Arthur Wicky, Maéna Rabusseau, Juan
                Camilo Veloza - Projet universitaire
            </li>
            <li>
                Statut juridique : Entreprise individuelle (projet académique)
            </li>
            <li>
                Adresse : Département MMI - 4 Pl. Lucien Tharradin, 25200
                Montbéliard - France
            </li>
            <li>Téléphone : 07 49 84 90 46</li>
            <li>Courriel : nummy2025@gmail.com</li>
            <li>RCS : 000 000 000 RCS Paris (fictif)</li>
        </ul>

        Le présent site web “Ñummy” est développé dans le cadre d’un projet
        universitaire et ne constitue pas une activité commerciale réelle. Les
        informations légales fournies sont à titre académique et informatif.

        <p class="mt-5">
            <strong>2. Hébergeur</strong>
        </p>
        <ul>
            <li>Nom : Infomaniak Network SA</li>
            <li>Rue Eugène Marziano 25, 1227 Les Acacias (GE)</li>
            <li>Téléphone : +41 228203541</li>
            <li>Site web : https://www.infomaniak.com/fr</li>
        </ul>

        Le fournisseur d'hébergement fournit l’infrastructure technique
        nécessaire à la publication et au fonctionnement du site Ñummy.

        <p class="mt-5">
            <strong> 3.Description du service et objet</strong>

            Le site opère en tant que marketplace de produits internationaux,
            où: Des informations et fiches produits de tiers sont présentées.
            Les utilisateurs peuvent naviguer, commenter et noter lesdits
            produits. L’utilisateur peut être redirigé vers de commerces
            affiliés pour effectuer son achat, la conclusion effective de la
            vente ayant lieu sur le site du commerçant affilié et non sur le
            Site Ñummy.
        </p>
        <p class="mt-5">
            <strong>4.Affiliation et rôle d’intermédiaire.</strong> I.Fonction d'intermédiaire
            Le site collabore avec des commerçants externes (affiliés) préalablement
            sélectionnés pour leur intégration sur la plateforme. Bien que nous vérifions
            la fiabilité des affiliés et la validité des liens avant leur publication,
            la vente finale s’effectue directement sur le site du commerçant affilié,
            qui assume la responsabilité de la livraison et du service après-vente.
            II. Responsabilité concernant les lien externes Ñummy s’efforce de garantir
            la qualité et la fiabilité de liens externes, dans la mesure où les affiliés
            sont préalablement évalués. Toutefois, le contenu de chaque boutique,
            ainsi que sa disponibilité, peuvent changer sans préavis. Par conséquent,
            nous ne pouvons pas assurer de façon absolue l’absence d’interruption
            ou l’exactitude permanente des information, ni contrôler les comportement
            ultérieur des tiers. En cas de problème, l'Utilisateur peut nous contacter
            afin de signaler tout lien ou commerçant ne répondant plus aux normes
            requises, afin que nous puissions prendre les mesures nécessaires (réparation
            du lien, suspension de l’affiliation, etc.) III. Rémunération par affiliation
            Le site peut percevoir une rémunération pour chaque clic ou pour chaque
            achat réalisé via le lien d'affiliation, sans que cela implique de surcoût
            pour l’utilisateur au moment de l’achat d’un produit ou service. L’existence
            de cette rémunération est communiquée à l’utilisateur en toute transparence,
            conformément aux bonnes pratiques en matière de publicité. IV. Limitation
            de responsabilité dans le cadre de la vente. Le site ne signe pas de
            contrat de vente avec les utilisateurs; le lien contractuel se crée exclusivement
            entre l’utilisateur et le commerçant affilié. Par conséquent, toute réclamation
            relative à la livraison, au remboursement, à la garantie ou au service
            après-vente doit être adressée directement au commerçant concerné.
        </p>
        <p class="mt-5">
            <strong
                >5. Utilisation des données de localisation (Géolocalisation)
            </strong>
            I. Finalité de la géolocalisation Afin de proposer des boutiques, restaurants
            ou produits à proximité de l’utilisateur, Ñummy peut solliciter l'accès
            aux données de localisation de l'appareil (GPS,adresse IP, etc.) Cette
            fonctionnalité est proposée dans le but d’améliorer l’expérience d’utilisation
            et de faciliter la recherche de commerce affiliés à proximité. II.Consentement
            préalable La collecte des données de géolocalisation nécessite le consentement
            exprès de l’utilisateur. L'utilisateur peut refuser ou révoquer à tout
            moment l’autorisation de localisation via les paramètres de son navigateur
            ou de son appareil. Cependant, ce refus peut limiter certaines fonctionnalités
            du site. III.Portée et utilisation des information Les données de localisation
            sont utilisées exclusivement pour indiquer les commerces et produits
            dans une zone géographique proche, et ne sont pas exploitées à d’autres
            fins. Ñummy ne stocke pas indéfiniment la position personnelle et ne
            la partage pas avec des tiers non autorisés. Tout traitement de ces donn´és
            s’effectue conformément à notre Politique de confidentialité et au RGPD
            IV.Responsabilité quant à l'exactitude de la localisation Ñummy dépend
            des informations fournies par l’appareil ou par le prestataire des services
            de géolocalisation. L’éditeur ne saurait être tenu responsable en cas
            d’inexactitudes dans la position indiquée ou de limitations techniques
            empêchant la localisation précise.
        </p>
        <p class="mt-5">
            <strong>6. Newsletter et communication commerciales </strong> I. Abonnement
            à la Newsletter Ñummy offre aux utilisateurs la possibilité de s’abonner
            à une newsletter de manière gratuite, visant à les informer sur les nouveautés,
            les lancements des produits internationaux, des recettes, des promotions
            des boutiques ou des restaurants affiliés et d'autres contenus liés à
            la thématique du site. L’inscription à la Newsletter exige le consentement
            exprès de l’utilisateur. À cette fin, il n’est pas permis d’utiliser
            des cases cochées par défaut : l'utilisateur doit confirmer librement
            son souhait de recevoir ces communications. II. Traitement des données
            et désabonnement Des données personnelles basiques de l’abonné (principalement
            l’adresse e-mail) sont collectées et traitées dans le but de lui envoyer
            la Newsletter. L’utilisateur peut se désabonner à tout moment, soit via
            le lien de “désinscription” présent dans chaque envoi, soit en contactant
            le(s) éditeur(s) du site. Les données relatives à la Newsletter sont
            gérées conformément à la politique de confidentialité du site et en conformité
            avec le RGPD. III. Communication promotionnelles Ñummy peut occasionnellement
            envoyer des emails à caractère promotionnel ou marketing, incluant des
            informations sur les boutiques et les restaurants affiliés. L’utilisateur
            dispose toujours de la possibilité de s’y opposer, c’est-à-dire de refuser
            la réception de tout nouvel envoi ultérieur.
        </p>
        <p class="mt-5">
            <strong>7. Disponibilité et sécurité du service</strong>
            I. Engagement de disponibilité Nous nous efforçons de maintenir le site
            disponible et opérationnel 24/7 et 7j/7, en adoptant des mesures de maintenance
            de support afin de garantir la meilleure expérience utilisateur possible.
            Néanmoins, des interruptions, suspensions ou erreurs techniques peuvent
            survenir pour des raisons indépendantes de notre volonté (problèmes d’hébergement,
            force majeure, etc.). Ñummy ne peut être tenu responsable de dommages
            résultant des ces interruption, mais s’engage à les minimiser et à informer
            l’utilisateur dans la mesure du possible. II.  Engagement de sécurité
            Nous appliquons des protocoles et des outils de sécurité (chiffrement
            des mots de passe, certificats SSL, etc) afin de protéger les données
            transitant sur le site. Bien que des mesures de cybersécurité conformes
            aux standard soient mises en œuvre, aucun système informatique ne peut
            être garantie totalement exempt de failles ou d'attaques malveillantes.
            En cas de vulnérabilités ou d’incidents de sécurité, Ñummy agira avec
            diligence pour y remédier et, si nécessaire, en informera les utilisateurs
            et/ou autorités compétentes conformément à la réglementation en vigueur.
        </p>
        <p class="mt-5">
            <strong>8. Propriété intellectuelle</strong> I. Contenus du site. La
            structure, la conception, les logos, les textes, les images, les vidéos
            et tout autres éléments sont la propriété exclusive des éditeurs ou ses
            concédants sont protégés conformément au Code de la propriété intellectuelle
            français Toute reproduction, représentation, adaptation ou diffusion,
            totale ou partielle, par quelque moyen que ce soit, est interdite sans
            autorisation expresse du titulaire des droits. II. Contenus générés par
            l’utilisateur (UGC) Ñummy propose des fonctionnalités permettant aux
            utilisateurs de publier des avis, des commentaires, des recettes ou tout
            autre contenu. L’utilisateur conserve ses droits d’auteur sur ces contributions
            ; toutefois, en les publiant, il accorde au site un licence non exclusive,
            gratuite et valable dans le monde entier pour les reproduire, les représenter
            et les diffuser sur la plateforme et ses canaux de communication. L’utilisateur
            garantit l’originalité de son contenu et sa conformité avec la législation
            en vigueur. dégageant le site de toute responsabilité en cas de réclamation
            de tiers.
        </p>
        <p class="mt-5">
            <strong
                >9.Conditions d’utilisation et responsabilité de l’utilisateur</strong
            > I. Comportement de l’utilisateur L’utilisateur s’engage à ne pas publier
            des contenus diffamatoires, injurieux, racistes, discriminatoire, portant
            atteinte aux droits de tiers ou contrevenant à la législation française
            et/ou internationale. Les sites se réservent un droit de modération,
            pouvant supprimer sans préavis tout contenu jugé illicite ou inapproprié.
            II. Inscription et exactitude des données Pour accéder à certaines fonctionnalités
            (favoris, création de recettes, etc.), la création d'un compte est exigée.
            L’utilisateur s’engage à fournir des informations véridiques et à maintenir
            la confidentialité de son mot de passe. Toute activité effectuée avec
            des identifiants relève de sa responsabilité exclusive. III. Droit d’exclusion
            et suspension En cas de manquement grave ou répété à ces dispositions,
            Ñummy peut suspendre ou supprimer le compte de l'utilisateur, sans que
            celui.ci ne puisse prétendre à une indemnisation.
        </p>
        <p class="mt-5">
            <strong>10. Modification des mentions légales</strong> I. Mise à jour
            périodique Les éditeurs du site se réserve le droit de modifier ou mettre
            à jour les présentes Mentions légales pour les adapter aux évolutions
            législatives, réglementaires ou technologiques, ou pour améliorer la
            clarté des informations Tout changement significatif sera communiqué
            aux utilisateurs (par exemple, via une notification par e-mail)avec un
            délai raisonnable avant son entrée en vigueur. II. Consultation des version
            antérieurs Le site pourra, le cas échéant, conserver un historique des
            versions antérieures des Mentions Légales pour consultations par l’utilisateur.
        </p>
        <p class="mt-5">
            <strong>11.Loi applicable et juridiction compétente</strong> I. Régime
            légal Les présentes Mentions légales sont rédigées et régies par la législation
            française, notamment au regard des dispositions de la loi pour la confiance
            dans l’économie numérique (LCEN), du code de la consommation, du code
            de la propriété intellectuelle et de tout autre texte applicable. Leur
            interprétation et leur exécution sont également soumises aux principes
            généraux du code civil français. II. Règlement des litiges En cas de
            litige, et sans préjudice des dispositions légales impératives en matière
            de protection du consommateur, les tribunaux français du ressort du domicile
            des éditeurs du site seront compétents. Pour tout différend mineurs ou
            désaccord initial, l’utilisateur est invité à s’adresser en premier lieu
            à l’éditeur afin de trouver une solution amiable, ou à recourir aux mécanismes
            de médiation légalement reconnus.
        </p>
        <p class="mt-5">
            <strong>Contact et information complémentaires</strong> Pour toute question
            ou réclamation concernant le Site, son fonctionnement ou son contenu,
            l’utilisateur peut contacter :
        </p>
        <ul class="mt-5">
            <li>E-mail : nummy2025@gmail.com</li>
            <li>
                Adresse postale : Département MMI - 4 Pl. Lucien Tharradin,
                25200 Montbéliard - France
            </li>
            <li>Téléphone : +33 07 49 84 90 46</li>
        </ul>

        <p class="mt-5">
            <strong>13.Caractère académique - projet universitaire</strong>

            Le présent site “Ñummy” est réalisé dans le cadre d’un projet
            universitaire, sans qu’il n'existe d’activité commerciale réelle ni
            d’immatriculation effective, au RCS, hormis sa valeur démonstrative.
            L’utilisation de données légales (RCS,adresse, etc.) se fait
            exclusivement à des fins didactiques. Aucune responsabilité
            contractuelle effective ne pèse sur l'éditeur envers les
            utilisateurs, sauf dans la mesure nécessaire à la simulation et au
            développement pédagogique du projet
        </p>
        <p class="mt-5 pb-5">
            <strong>Date de la dernière mise à jour : 8 mars 2025</strong>
        </p>
    </div>
    </div>
</Layout>
