---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";

import ImageNewsletter from "../assets/img/cardimg/newsletter1.webp";
import { Picture } from "astro:assets";
---
<Layout classBody="colorPage">
   <body>
<div>
    <div class="px-8">
<!-- texte principal -->
        <div class="pt-32">
            <h1 class="tracking-wider">Rejoignez cette grande communauté et rendez votre entreprise <span class="text-[var(--color-orange)]"> visible !</span></h1>
        </div>

        <div>
            <hr class="h-[10px] w-60 bg-[var(--color-orange)] my-5"/>
                <p class="p-body3">Rejoignez notre projet et donnez de la visibilité à votre entreprise ! Ensemble, mettons en avant vos produits et savoir-faire auprès d'un public plus large ! Profitez d'une plateforme dédiée pour toucher de nouveaux clients et partager votre passion.</p>
                <div class="flex justify-center items-center py-12">
                    <Button variant="orange2">NOUS REJOINDRE !</Button>
                </div>
        </div>

        <hr class="relative bg-gray-600">

        <div class="flex flex-col items-center justify-center text-center px-15 py-10">
            <h2 class="h3-header">"Quels sont les <span class="text-[var(--color-orange)]">avantages</span> de devenir partenaire ?"</h2>
        </div>

<!-- card information -->
<div class="*:my-10 gap-10">
<div class="max-w-sm border border-gray-200  shadow-sm bg-[var(--color-argent)]">
    <a href="#">
        <Picture
        src={ImageNewsletter}
        alt="image"
        loading="lazy"
        class=""
        width={800}
        height={700}
        />
    </a>
    <div class="p-5">
        <hr class="h-[8px] w-50 flex justify-center items-center text-center bg-[var(--color-orange)]"/>
        <a href="#">
            <h3 class="px-6 font-bold flex justify-center text-center leading-6 text-xl mb-2">Une visibilité accrue de vos produits ou services !</h3>
        </a>
        <p class="p-body3 mb-3 font-normal text-black">Restez au courant des nouvelles recettes de saison créées par notre communauté ! Découvrez des plats délicieux du monde entier – Asie, Europe et bien plus encore. Ne manquez pas ces nouvelles expériences gustatives et laissez-vous surprendre par de nouvelles saveurs !.</p>
    </div>
</div>


<div class="max-w-sm border border-gray-200  shadow-sm bg-[var(--color-argent)]">
    <a href="#">
        <Picture
        src={ImageNewsletter}
        alt="image"
        loading="lazy"
        class=""
        width={800}
        height={700}
        />
    </a>
    <div class="p-5">
        <hr class="h-[8px] w-50 flex justify-center items-center text-center bg-[var(--color-orange)]"/>
        <a href="#">
            <h3 class="px-6 font-bold flex justify-center text-center leading-6 text-xl mb-2">Une visibilité accrue de vos produits ou services !</h3>
        </a>
        <p class="p-body3 mb-3 font-normal text-black">Restez au courant des nouvelles recettes de saison créées par notre communauté ! Découvrez des plats délicieux du monde entier – Asie, Europe et bien plus encore. Ne manquez pas ces nouvelles expériences gustatives et laissez-vous surprendre par de nouvelles saveurs !.</p>
    </div>
</div>

<div class="max-w-sm border border-gray-200  shadow-sm bg-[var(--color-argent)]">
    <a href="#">
        <Picture
        src={ImageNewsletter}
        alt="image"
        loading="lazy"
        class=""
        width={800}
        height={700}
        />
    </a>
    <div class="p-5">
        <hr class="h-[8px] w-50 flex justify-center items-center text-center bg-[var(--color-orange)]"/>
        <a href="#">
            <h3 class="px-6 font-bold flex justify-center text-center leading-6 text-xl mb-2">Une visibilité accrue de vos produits ou services !</h3>
        </a>
        <p class="p-body3 mb-3 font-normal text-black">Restez au courant des nouvelles recettes de saison créées par notre communauté ! Découvrez des plats délicieux du monde entier – Asie, Europe et bien plus encore. Ne manquez pas ces nouvelles expériences gustatives et laissez-vous surprendre par de nouvelles saveurs !.</p>
    </div>
</div>

</div>

    </div>
</div>

   </body>
</Layout>