---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import ImageLettre from "../assets/img/cardimg/lettre.webp";
import ImageNewsletter from "../assets/img/cardimg/newsletter.webp";
import ImageNewsletterC from "../assets/img/cardimg/letter2.webp";
import ImageNewsletterF from "../assets/img/cardimg/letter3.webp";

import { Picture } from "astro:assets";
---

<Layout>
  <div class="bg-[var(--color-orange)]">
    <div
      class="flex flex-col items-center justify-center text-center pt-25 pb-15"
    >
      <!-- image -->
      <div>
        <Picture
          src={ImageLettre}
          alt="image"
          loading="lazy"
          class="mr-7 w-70 h-auto"
        />
      </div>
      <h1 class="pt-3">
        "Restez à l'affût des nouveautés dans <br /> notre <span
          class="text-white">NEWSLETTER</span
        >!"
      </h1>
      <div>
        <p class="text-black font-semibold p-body3 px-20 pt-4">
          Inscrivez-vous à notre newsletter pour découvrir en avant-première nos
          derniers articles, recettes, bons plans et nouveautés
        </p>
      </div>
      <div class="text-sm flex justify-center pt-5">
        <Button class="" variant="lin" href="/" classes="px-10 py-3">
          s'inscrire
        </Button>
      </div>
    </div>
  </div>

  <!--  Card Newsletter -->
  <div class="px-8">
    <div
      class="flex flex-col items-center justify-center text-center px-8 pt-10"
    >
      <h2 class="h3-header">
        "Quels sont les <span class="text-[var(--color-orange)]">avantages</span
        > de de vous inscrire à la NewsLetter?"
      </h2>
    </div>

    <div class="*:my-10 gap-10 flex flex-col justify-center items-center">
      <div
        class="max-w-sm border border-gray-200 shadow-sm bg-[var(--color-argent)]"
      >
        <a href="#">
          <Picture
            src={ImageNewsletterC}
            alt="image"
            loading="lazy"
            class=""
            width={800}
            height={700}
          />
        </a>
        <div class="p-5">
          <hr
            class="h-[8px] w-50 flex justify-center items-center text-center bg-[var(--color-orange)] ml-15"
          />
          <a href="#">
            <h3
              class="px-6 font-bold flex justify-center text-center leading-6 text-xl mb-2 pt-2"
            >
              Une visibilité accrue de vos produits ou services !
            </h3>
          </a>
          <p class="p-body3 mb-3 font-normal text-black">
            Restez au courant des nouvelles recettes de saison créées par notre
            communauté ! Découvrez des plats délicieux du monde entier – Asie,
            Europe et bien plus encore. Ne manquez pas ces nouvelles expériences
            gustatives et laissez-vous surprendre par de nouvelles saveurs !.
          </p>
        </div>
      </div>

      <div
        class="max-w-sm border border-gray-200 shadow-sm bg-[var(--color-argent)]"
      >
        <a href="#">
          <Picture
            src={ImageNewsletterF}
            alt="image"
            loading="lazy"
            class=""
            width={800}
            height={700}
          />
        </a>
        <div class="p-5">
          <hr
            class="h-[8px] w-50 flex justify-center items-center text-center bg-[var(--color-orange)] ml-15"
          />
          <a href="#">
            <h3
              class="px-6 font-bold flex justify-center text-center leading-6 text-xl mb-2 pt-2"
            >
              Une visibilité accrue de vos produits ou services !
            </h3>
          </a>
          <p class="p-body3 mb-3 font-normal text-black">
            Restez au courant des nouvelles recettes de saison créées par notre
            communauté ! Découvrez des plats délicieux du monde entier – Asie,
            Europe et bien plus encore. Ne manquez pas ces nouvelles expériences
            gustatives et laissez-vous surprendre par de nouvelles saveurs !.
          </p>
        </div>
      </div>

      <div
        class="max-w-sm border border-gray-200 shadow-sm bg-[var(--color-argent)]"
      >
        <a href="#">
          <Picture
            src={ImageNewsletter}
            alt="image"
            loading="lazy"
            class=""
            width={800}
            height={700}
          />
        </a>
        <div class="p-5">
          <hr
            class="h-[8px] w-50 flex justify-center items-center text-center bg-[var(--color-orange)] ml-15"
          />
          <a href="#">
            <h3
              class="px-6 font-bold flex justify-center text-center leading-6 text-xl mb-2 pt-2"
            >
              Une visibilité accrue de vos produits ou services !
            </h3>
          </a>
          <p class="p-body3 mb-3 font-normal text-black">
            Restez au courant des nouvelles recettes de saison créées par notre
            communauté ! Découvrez des plats délicieux du monde entier – Asie,
            Europe et bien plus encore. Ne manquez pas ces nouvelles expériences
            gustatives et laissez-vous surprendre par de nouvelles saveurs !.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- formualire NewsLetter -->

  <div
    class="bg-[var(--color-lin)] text-black p-8 rounded-lg mx-auto w-full lg:max-w-md lg:mx-auto lg:flex lg:gap-5"
  >
    <div class="">
      <h2 class="h2-header text-3xl mb-4">"S'INSCRIRE À LA NEWSLETTER"</h2>
      <p class="mb-6 text-sm">
        Abonnez-vous à la Newsletter <span
          class="text-[var(--color-orange)] font-medium"
          >sans frais supplémentaires</span
        > et ne manquez rien des nouveautés du monde !
      </p>
    </div>

    <form
      id="newsletter-form"
      action="#"
      method="POST"
      class="space-y-4"
      autocomplete="off"
    >
      <div>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Ex: email.exemple@gmail.com"
          required
          class="w-full p-small px-4 py-3 rounded-md bg-white border-0 focus:ring-2 focus:ring-orange-500 placeholder-gray-400"
        />
      </div>

      <div>
        <input
          type="tel"
          id="telephone"
          name="telephone"
          placeholder="Téléphone : 07 xx xx xx xx"
          class="w-full p-small px-4 py-3 rounded-md bg-white border-0 focus:ring-2 focus:ring-orange-500 placeholder-gray-400"
        />
      </div>

      <div class="flex items-start mt-4">
        <div class="flex items-center h-5">
          <input
            id="offers"
            name="offers"
            type="checkbox"
            class="w-4 h-4 border-gray-300 rounded focus:ring-orange-500"
          />
        </div>
        <div class="ml-3 text-xs">
          <label for="offers" class="p-small text-black">
            En cochant cette case., je valide de recevoir ou être informé(e)
            offres et promotions de Ñummy par e-mail
          </label>
        </div>
      </div>

      <div class="flex items-start mt-2">
        <div class="flex items-center h-5">
          <input
            id="terms"
            name="terms"
            type="checkbox"
            required
            class="w-4 h-4 border-gray-300 rounded focus:ring-orange-500"
          />
        </div>
        <div class="ml-3 p-small">
          <label for="terms" class="text-black">
            En cochant cette case, vous acceptez les conditions générales de
            Ñummy pour la publication d'un article sur le site web. Pour en
            savoir plus sur notre politique de confidentialité, <a
              href="/politiquesconfi"
              class="text-blue-800 underline">cliquez ici</a
            >
          </label>
        </div>
      </div>

      <div class="flex justify-center mt-6">
        <button
          type="submit"
          class="px-10 py-3 bg-[var(--color-orange)] text-black font-bold rounded-full uppercase"
        >
          S'inscrire
        </button>
      </div>
    </form>
  </div>
</Layout>
