---
import Layout from "../layouts/Layout.astro";
import logo_nummy10 from "../assets/logo/logo_nummy10.png";

import { Image } from "astro:assets";
---

<Layout>
  <h1 class="p-8">Politiques & confidentialité</h1>
  <div class="px-8">
    <p class="mt-5">
      La présente politique de confidentialité s'applique au site Ñummy,
      exploité à titre académique dans le cadre d’un projet universitaire. Elle
      vise à informer les utilisateurs sur la manière dont leur données
      personnelles sont collectés, utilisées et protégées dans les respect de la
      réglementation applicable, notamment le Règlement (UE) 2016/679 (RGPD) et
      la loi française nª78-17 du janvier 1978 modifiée (informatique et
      libertés), ainsi que les recommandations de la CNIL.
    </p>
    <p class=""><strong>1.Identité des responsables de traitement</strong></p>
    <ul>
      <li>
        Responsable(s) de traitement : Arthur Wicky, Maéna Rabusseau, Juan
        Camilo Veloza - Projet Universitaire
      </li>
      <li>Statut : Entreprise individuelle (Projet académique)</li>
      <li>
        Adresse : Département MMI - 4 Pl. Lucien Tharradin, 25200 Montbéliard -
        France
      </li>
      <li>Téléphone : 07 49 84 90 46</li>
      <li>Courriel : nummy2025@gmail.com</li>
    </ul>
    <p>
      Pour plus d'informations légales (hébergeur, statut, etc.), veuillez
      consulter nos Mentions Légales publiés sur le site.
    </p>
    <p class="mt-5">
      <strong>2.Données personnelles collectées</strong>Nous collectons
      différents types de données personnelles concernant l'utilisateur, en
      fonction de l’utilisation du site et des services proposés. 2.1 Données
      fournies par l’utilisateur Formulaire de création de compte : nom, prénom,
      adresse e-mail, mot de passe (chiffré), éventuellement numéro de
      téléphone. Newsletter : Adresse e-mail et consentement explicite.
      Commentaires, avis ou recettes : Contenu posté volontairement par
      l’utilisateur (qui peut contenir des données personnelles si l’utilisateur
      décide de le mentionner). 2.2 Données de localisation (géolocalisation)
      Dans le cadre de la fonctionnalité permettant de proposer des commerces ou
      restaurants à proximité, nous pouvons collecter la position géographique
      de l’utilisateur (via GPS, adresse IP, etc.), uniquement si l’utilisateur
      a donné son accord explicite. L’utilisateur peut à tout moment refuser ou
      révoquer ce consentement via les paramètres de son navigateur ou de son
      appareil. 2.3 Données collectées automatiquement (Cookies et autres
      traceurs ) I. Types de cookies utilisés Cookies strictement nécessaires :
      Indispensables pour le bon fonctionnement du site et la fourniture de
      certaines fonctionnalités (ex. gestion de la session, sécurisation de la
      connexion). Leur suppression peut altérer considérablement l'expérience de
      navigation. Cookies d’analyse ou de performance : Permettent de recueillir
      des information sur la façon dont les utilisateur naviguent sur le site
      (pages consultées, temps passé, taux de clics, etc.) afin d’optimiser le
      contenu et l'ergonomie. Cookies de suivi d’affiliation: Dans le cadre de
      nos partenaires (système de “Pay per Click” ou de commission), ces cookies
      servent à identifier l’origine ou ventes liés à un partenaires affilié.
      Cookies de personnalisation : Destinés à mémoriser les préférences de
      l’utilisateur (langue d’affichage, localisation, approximative) et à
      proposer du contenu plus pertinent. II. Consentement de l’utilisateur
      Conformément à la réglementation en vigueur (RGPD et recommandations de la
      CNIL), l’utilisateur doit exprimer ou refuser son consentement pour
      l’utilisation de cookies non essentiels (analyse, ciblage, etc.). Lors de
      la première visite, un bandeau d’information ou une interface de gestion
      de cookies s’affiche, permettant à l’utilisateur d’accepter ou de refuser
      les cookies concernés. L’utilisateur peut également configurer ses choix
      de manière granulaire (accepter ou refuser par finalité) III. Gestion et
      révocation des cookies L’utilisateur peut à tout moment modifier ses
      préférences en matière de cookies, soit via un module de gestion intégré
      au site (ex. “Gérer mes cookies” ou “Préférences de cookies”), soit en
      paramétrant directement son navigateur. La plupart des navigateurs
      (Chrome, Firefox, Safari, etc.) permettent de refuser systématiquement
      l’installation de cookies ou d’être alertés avant leur installation. Pour
      plus d’information l’utilisateur peut consulter la rubrique “Aide” du
      navigateur utilisé. IV. Durée de conservation La durée de conservation des
      cookies varie selon leur finalité. Certains (cookies de session) expirent
      à la fermeture du navigateur, tandis que d’autres (cookies persistants)
      peuvent rester plus longtemps, mais dans la limite définie par loi (25
      mois) V. Conséquences du refus de cookies L’utilisateur est libre de
      refuser tout ou partie des cookies. Cependant, certaines fonctionnalités
      du site (accès à des contenus personnalisés, suivi d'affiliation,
      recommandation locales, etc.) peuvent être limitées ou ne pas fonctionner
      de manière optimale en cas de désactivation totale des cookies. VI.
      Contacts et réclamation Pour toute question relative aux cookies ou à la
      protection des données, l’utilisateur peut contacter l’éditeur du site via
      l’e-mail ou via la section “nous contacter”. L’utilisateur peut également
      introduire une réclamation auprès de la CNIL (Commission nationale de
      l’informatique et de libertés) s’il estime que ses droits ne sont pas
      respectés.
    </p>
    <p>
      <strong> 3. Finalités et bases légales du traitement </strong> I.Gestion du
      compte utilisateur (création de profil, connexion, sécurisée) Base légale :
      Exécution d’un contrat (CGU) ou mesures précontractuelles II. Envoi de la NewsLetter
      et communications commerciales Base légale : Consentement explicite de l’utilisateur
      (case non pré-cochée, etc.). III. Géolocalisation pour proposer des services
      et commerces à proximité Base légale : Consentement explicite de l'utilisateur
      IV. Cookies d’analyse et d’affiliation. Base légale : Consentement (pour les
      cookies non essentiels); certains cookies strictement nécessaire peuvent reposer
      sur l'intérêt légitime de l’éditeur V.Publication de commentaires, avis ou
      recettes Base légale : intérêt légitime de l'éditeur à favoriser l’échange
      et l’interaction sur le site, et consentement de l’utilisateur lorsqu’il publie
      volontairement ses contenus.
    </p>
    <p>
      <strong>4.Durée de conservation des données</strong>Compte utilisateur :
      les données sont conservés tant que le compte est actif; en cas
      d'inactivité prolongé (ex: 24 mois), le compte peut être supprimé après
      information préalable de l’utilisateur Newsletter: Nous conserverons
      l’adresse e-mail tant que l’utilisateur ne se désinscrit pas. La
      description entraîne la suppression dans des délais raisonnables Cookies:
      Les durées de conservation varient selon la finalité (ex: cookies de
      session expirent à la fermeture du navigateur, cookies d’analyse valables
      de 6 à 13 mois selon les recommandations de la CNIL) Données de
      géolocalisation: Utilisées en temps réel pour proposer les commerces
      proches ; elles ne sont pas stockées durablement et sont toujours
      conformes au consentement de l’utilisateur.
    </p>
    <p>
      <strong>5.Destinataires des données</strong> I. Éditeur(s) du site : l'équipe
      chargée de l’administration du site, dans la limite de leurs attributions respectives.
      II. Fournisseurs de services tiers : Hébergeurs web (infrastructure technique)
      Outils d’emailing ou de newsletter Outils d’analyse (ex.Google analytics) pour
      de cookies d’audience, si consentement. III. Commerçants affiliés Les données
      collectées auprès des utilisateurs seront utilisées exclusivement pour analyser
      le trafic et améliorer l'expérience des utilisateurs et des commerçants sur
      notre site. Ces données pourront être partagées avec les commerçants affiliés
      uniquement dans ce but, et ce, avec l'accord préalable de l'utilisateur ou
      sur base légale appropriée. Nous ne vendons ni louons les données personnelles
      à des tiers à des fins marketing.
    </p>
    <p>
      <strong>6. Droits des utilisateurs</strong>
      Conformément au RGPD et à la loi française, l’utilisateur dispose : Droit d'accès
      : Obtenir la confirmation que des données le concernant sont traitées, et en
      recevoir copie. Droit de rectification : faire corriger toute donnée inexacte
      ou incomplète. Droit à l’effacement : Obtenir la suppression des données dans
      certains cas (compte inactif, retrait du consentement, etc.) Droit à la limitation
      du traitement : restreindre temporairement l’utilisation des données. Droit
      à la portabilité: Recevoir les données personnelles fournies dans un format
      structuré et couramment utilisé, et éventuellement les transmettre à une responsable.
      Pour exercer ses droits, l’Utilisateur peut contacter : E-mail : nummy2025@gmail.com
      Adresse postale : Département MMI - 4 Pl. Lucien Tharradin, 25200 Montbéliard
      - France Une réponse sera fournie dans les meilleurs délais et au plus tard
      dans le délai d’un mois, prolongeable de deux mois en cas de complexité ou
      de nombre élevé de demandes.
    </p>
    <p>
      <strong>7. Sécurité des données</strong>Nous mettons en œuvre des mesures
      techniques et organisationnelles appropriées (protocole HTTPS, etc..) pour
      protéger les données personnelles contre tout accès non autorisé,
      altération ou divulgation. Malgré ces précautions, aucune méthode de
      transmission ou de stockage électronique n’est entièrement sûre. En cas de
      violation de données susceptible d’engendrer un risque élevé pour les
      droits et libertés des personnes, nous informerons les autorités
      compétentes (CNIL) et, si nécessaire, les utilisateurs concernés dans les
      délais légaux.
    </p>
    <p>
      <strong>8.Liens externes</strong>Les sites peuvent contenir des liens vers
      des sites tiers (boutiques affiliés, etc.). Cette politique ne couvre pas
      les traitements de données opérés par ces sites, qui disposent de leurs
      propres politiques de confidentialité. Nous invitons l’utilisateur à
      prendre connaissance de celle-ci avant de communiquer ses informations
      personnelles.
    </p>
    <p>
      <strong>9. Mise à jour de la présente politique</strong>Nous nous
      réservons le droit de modifier ou actualiser la présente politique afin de
      refléter les changements législatifs, techniques ou organisationnels. En
      cas de modification substantielle, l’utilisateur sera averti via e-mail ou
      le site (banner, notification,etc.) avec une délai raisonnable avant
      l’entrée en vigueur de nouvelles dispositions.
    </p>
    <p>
      <strong>10.Contact et réclamation</strong>Pour toute question relative à
      la présente Politique de Confidentialité ou pour exercer vos droits, vous
      pouvez nous contacter:
    </p>
    <ul>
      <li>E-mail : nummy2025@gmail.com</li>
      <li>
        Adresse postale : Département MMI - 4 Pl. Lucien Tharradin, 25200
        Montbéliard - France
      </li>
      <li>Section “ Nous contacter “</li>
    </ul>
    <p>
      Si, après nous avoir contactés, vous estimez que vos droits ne sont pas
      respectés, vous avez la possibilité de déposer une réclamation auprès de
      la CNIL (Commission Nationale de l’Informatique et des Libertés).
    </p>
    <p>
      <strong>11. Caractère Académique - Projet universitaire</strong>Le présent
      site “Ñummy” est réalisé dans le cadre d’un projet universitaire, sans
      qu’il n'existe d’activité commerciale réelle ni d’immatriculation
      effective, au RCS, hormis sa valeur démonstrative. L’utilisation de
      données légales (RCS,adresse, etc.) se fait exclusivement à des fins
      didactiques. Aucune responsabilité contractuelle effective ne pèse sur
      l'éditeur envers les utilisateurs, sauf dans la mesure nécessaire à la
      simulation et au développement pédagogique du projet
    </p>
    <p class="p-8">
      <strong>Dernière mise à jour : 8 mars 2025</strong>
    </p>
  </div>
</Layout>
