---
import IconFacebook from "../assets/icones/icon_facebook.svg";
import IconInstagram from "../assets/icones/icon_instagram.svg";
import { Image } from "astro:assets";
import logo_nummy10 from "../assets/logo/logo_nummy10.png";

---
<!-- <nav
  class="text-center px-5 columns-2 gap-8 space-y-8 text-sm lg:text-base lg:columns-3 lg:col-span-3 lg:px-0 *:break-inside-avoid *:space-y-3 bg-[var(--color-green)] lg:col-start-7"
>
  <div>
    <ul class="text-white ">
      <li><a class=" uppercase" href="/contact">Contact</a></li>
      <li>+33 07 29 76 45 76 </li>
      <li>nummy2025.s2@gmail.com</li>
      <li>Nous contacter </li>
    </ul>
 
  </div>
  <div>
    <ul class="text-white ">
      <li><a class="text-white uppercase" href="/apropos">À propos</a></li>
      <li>Mentions légales</li>
      <li>Politique de confidentialité</li>
    </ul>
  </div>

  <div>
    <ul class="text-white ">
      <li><a class="text-white uppercase" >Devenir partenaire</a></li>
    </ul>
  </div>
  <div>
    <ul class="text-white ">
      <li><a class="text-white uppercase" >Communauté </a></li>
      <li>Recettes</li>
      <li>Newsletter</li>
      <li>Nous soutenir</li>
    </ul>
  </div>
</nav>

<div
  class="px-5 py-8 space-y-6 text-center lg:col-span-4 lg:flex lg:justify-around lg:items-center lg:space-y-0 bg-[var(--color-gris)] lg:col-start-10"
>
  <ul class="flex gap-12 justify-center">
 
  
    <li>
      <a href="https://instagram.com" aria-label="Instagram"
        ><IconInstagram class="fill-white" /></a
      >
    </li>
    <li>
      <a href="https://facebook.com" aria-label="Facebook"
        ><IconFacebook class="fill-white" /></a
      >
    </li>
  </ul>
  <p class="text-white">©2025 ÑUMMY</p>
</div> -->
